<html>

 <head>
     <meta charset="utf-8" />
     <title>Maths en ligne</title>
     <!--Permet d'inclure les imports pour la police, materialize et css-->
     <% include partials/header_imports.ejs %>

 </head>
 <body>
     <!--Permet d'inclure le menu-->
     <% include partials/navbar.ejs %>

       <div id="fond_home">
         <div class="container">
           <h1 class="header">Bienvenue!</h1>
           <h5 class="grey-text text-darken-3 lighten-3">Besoin d'un coup de main en maths? Sur ce site vous pouvez bénéficier de cours et d'explications en ligne!</h5>
           </br></br>

         <div class="row" >
           <div class="col l4 m12 s12">
             <div class="row">
               <div class="col s12" style="text-align:center">
                 <i class="material-icons" style="font-size: 150px">lightbulb_outline</i>
               </div>
               <div class="col s12" style="text-align:center">
                 <h4>Pratique:</h4> Tous vos cours expliqués avec des exercices corrigés!
               </div>
            </div>
          </div>
          <div class="col l4 m12 s12">
            <div class="row">
              <div class="col s12" style="text-align:center">
                <i class="material-icons" style="font-size: 150px">person</i>
              </div>
              <div class="col s12" style="text-align:center">
                <h4>Personnalisé: </h4> Avec l'aide en ligne, tu pourras directement poser tes questions!
              </div>
           </div>
         </div>
         <div class="col l4 m12 s12">
           <div class="row">
             <div class="col s12" style="text-align:center">
               <i class="material-icons" style="font-size: 150px">computer</i>
             </div>
             <div class="col s12" style="text-align:center">
              <h4>En ligne: </h4> Tu peux travailler facilement depuis l'école ou la maison!
             </div>
           </div>
        </div>
      </div>

        </br></br></br></br></br>

  </div>
</div>

<div class="section white" id="footer">
    <p class="grey-text text-darken-3 lighten-3">Projet WEB 3A - WEBSOCKET - Marie LECAM & Marion PUGGIONI</p>
</div>

     <!--Permet d'inclure les imports pour jquery, materialize et js-->
     <% include partials/js_import.ejs %>
 </body>
 </html>
